# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/
build/
out/

# VSCode settings
.vscode/
*.code-workspace

# Emacs settings
*~ 
\#*\#
.\#*
.elc

# Operating System files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# Logs
logs/
*.log

# Environment variables
.env
.env.local
.env.*.local

# Temporary files
tmp/
temp/
.cache/
.cache-loader/

# IDE specific files
.idea/
*.sublime-workspace
*.sublime-project

# Other files
*.bak
*.swp
*.swo
*.orig
*.class
*.jar
*.war
*.exe
*.dll
*.o
*.so
*.dSYM/

