* { box-sizing: border-box; }

html, body { margin: 0; }

body {
  background-color: #f2f4f7;
  font-size: 15px;
  line-height: 1.6;
  color: #1f2937;
}

main p {
  max-width: 70ch;
}

ol {
  color: #335c57;
}

.h1-homepage {
  color: #035c3a;
  font-family: "Courier New", monospace;
}

.h1-homepage-subhead {
  color: #035c3a;
  font-family: "Courier New", monospace;
}

/* Section headings */
h2, h3 {
  font-style: italic;
  color: #0f5132;
  margin-bottom: .5rem;
}
