* {
  font-family: Verdana, sans-serif;
  background: lightgray
}

.flex-container {
  display: flex;
}

.box {
  background-color: yellow;
  padding: 30px;
  margin: 10px;
}

.album_cover {
  border-radius: 30px;
  width: 400px;
  height: 400px;
}

.description {
  font-style: italic;
  font-weight: light;
  color: #413266;
}

#h1 {
  color: #435446;
  font-style: italic;
}

#headshot {
  border-radius: 20px;
  margin: auto;
}
#song_album_wrapper {
  display: flex;
  gap: 20px;
}

#songs, #albums {
  flex: 1;
}

#footer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

#facts_movies_wrapper {
  display: flex;
  gap: 100px
}
